{% extends 'main.html' %}
{% block content %}

{% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li 
            {% if message.tags %}
              class="{{ message.tags }}"
            {% endif %}>
          {{ message }}
        </li>
      {% endfor %}
    </ul> 
{% endif %}
  
  <div>
    <form action="" method="post" class="mx-auto d-block">
        {% csrf_token %}
        <div class="mx-auto">
            <label for="user">Username:</label>
            <input type="text" name="username" placeholder="Username">
        </div>
        <br>
        <div class="mx-auto">
            <label for="pass">Password:</label>
            <input type="password" name="password" placeholder="Password">
        </div>
        <br>
        <div class="mx-auto">
            <input type="submit" class="btn btn-primary" value="login" class="mx-auto">
        </div>
    </form>
  </div>
  <p>
    Don't have an account? <a href="{% url 'signup' %}">Signup</a>
  </p>
{% endblock content %}