{% extends 'main.html' %}
{% block content %}
<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>
    <h3>{{user.username}}</h3>
   
    <div class="profile-container">
        <!-- topics -->
        <div>
            {% include "base/topics.html" %}
        </div>
        
        <!-- This brings rooms made by the user -->
        <div>
            {% include 'base/feed.html' %}
        </div>

        <!-- activity -->
        <div>
            {% include 'base/recent_activity.html' %}
        </div>
    </div>
    
{% endblock content %}